.search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 5px;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
}
.icons {
  width: 28px;
  height: 28px;
}
