.button_header_position {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.basket_btn {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  border: none;
  background: transparent;
  color: currentColor;
}
.icon_header_btn {
  width: 24px;
  height: 24px;
  color: currentColor;
}
.basket_btn {
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .basket_btn {
    color: var(--color-dashboard-header);
  }
  .btn_text {
    color: #181717;
  }
}
