.burger_btn {
  height: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  color: white;
}
.burger_icons {
  width: 24px;
  height: 24px;
}
.burger_text {
  font-size: 14px;
}
