.menu_item_drop_drown {
  display: flex;
  flex-direction: column;

  gap: 10px;
  margin-bottom: 20px;
}
.menu_Item_link {
  width: 180px;
  padding: 8px 0;
  font-size: 14px;
  color: #212b36;
  transition: background 0.25s ease;
}
.menu_Item_link:hover {
  background: rgb(245, 237, 237);
}
